.container {
  max-width: 640px;
}
.logo-quote,
.header-contacts,
.header-background__desktop,
.nav-desktop,
.btn_signUp {
  display: none;
}
header {
  max-width: 640px;
  margin: 0 auto;
}
.container__mob-version {
  display: flex;
  gap: 12.5%;
  justify-content: space-between;
  align-items: center;
  max-width: 640px;
}
.layout {
  flex: 1;
}
.nav {
  flex: 1;
}
.header__logo {
  max-width: 10rem;
}
.nav-mobile {
  display: flex;
  gap: 8px;
  justify-self: end;
}
.mobile-version__icon,
.burger__menu {
  width: 3.125rem;
}
/*   header-main    */
.header__main {
  background-image: url(../img/background__img/header__bckgrnd__mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 60px;
  /* отступ слева 20px, сверху 30px */
  z-index: 0;
}
.header__main-container {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  background-color: transparent;
}
.header__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 230px;
  max-width: 640px;
}
.header__title {
  font-size: 1.5rem;
}
.main--paragraph {
  font-size: 0.75rem;
  line-height: 16px;
}
.btn__tryForFree {
  margin-top: 16px;
  width: 210px;
  font-size: 0.75rem;
  line-height: 18px;
}
.advantages {
  flex-direction: column;
  text-align: center;
}
/*        MAIN         */
/*        team         */
.team__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 72px;
}
.main__team-logo {
  position: relative;
  left: 50px;
  width: 50%;
  margin-bottom: 24px;
}
.team__content-pros {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 13px;
  justify-content: center;
  margin-top: 24px;
}
.main__team-card {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}
.accent--paragraph {
  font-size: 2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.spanAccent {
  font-size: 0.625rem;
  margin-left: 5px;
}
.main--paragraph {
  font-size: 0.625rem;
  margin-top: 5px;
}
.spanSirius {
  font-size: 0.75rem;
}
.main__team-card:nth-child(1) {
  width: calc(55% - 16px);
}
.main__team-card:nth-child(2),
.main__team-card:nth-child(3) {
  width: calc(45% - 16px);
}
.main__team-card:nth-child(4) {
  width: calc(55% - 16px);
}
/*     support     */
.support {
  margin: 32px 0 72px;
}
.cards {
  gap: 8px;
}
.support__card {
  flex: 1;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
}
/*   benefits    */
.helper-box {
  text-align: center;
  font-size: 0.625rem;
  font-weight: 700;
}
.benefits-item {
  margin-top: 50px;
}
.benefits-item h3 {
  font-size: 0.875rem;
  font-family: "Barlow";
  font-weight: 700;
  color: var(--tarifs-accent);
  letter-spacing: 2.72px;
  text-transform: uppercase;
}
.benefits-item p {
  margin-top: 7px;
  font-size: 0.75rem;
}
.benefits__cards {
  margin-top: 32px;
}
.benefits__card p {
  line-height: 24px;
}
.card-text {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 16px 0;
}
/*   tariffs   */
.tariffs {
  margin-top: 72px;
}
.tariffs__cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tariff-card__description {
  margin: 8px 0 16px 0;
}
.tariff-card__features {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.tariff-card__features li {
  font-size: 1rem;
}
.btn__request {
  font-size: 0.875rem;
}
/*    join us     */
.join-us {
  margin-top: 72px;
  height: 274px;
}
.join-us__content {
  text-align: center;
  top: 48px;
}
.join-us__content p {
  margin-top: 16px;
}
/*    partnership-pros   */
.partnership {
  margin-top: 16px;
  gap: 8px;
}
.partnership-card {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.partnership-card__img {
  width: 50%;
}
.partnership-card__text li {
  text-align: start;
  padding-left: 10px;
}
/*     steps     */
.steps-to-start {
  margin-top: 72px;
}
.steps-content {
  margin-top: 24px;
  flex-direction: column;
  gap: 8px;
  align-content: center;
}
.steps-content img {
  margin-bottom: 32px;
}
.col-st {
  gap: 8px;
}
/*   growth-trends   */
.growth {
  flex-direction: column;
  gap: 32px;
  align-items: center;
  background-color: var(--accent-color);
  height: auto;
  color: #fff;
}
.growth h2 {
  font-size: 32px;
  color: inherit;
}
.growth-title {
  margin-top: 48px;
  max-width: 280px;
  text-align: center;
}
.growth-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  text-align: center;
  margin-bottom: 48px;
}
.growth-item {
  max-width: 140px;
}
/*      CEO       */
.ceo {
  flex-direction: column-reverse;
  gap: 32px;
  margin-top: 72px;
}
.ceo-img__box img {
  width: 70%;
}
.ceo__card {
  left: 15%;
  top: 70%;
  max-width: 280px;
}
.ceo-bio__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.position,
.subtitle,
.position__info {
  text-align: center;
}
/*     footer      */
.footer {
  margin-top: 108px;
  padding-top: 32px;
  border-top: 1px solid #DEE6EF;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.layout-box__mobile {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
}
.layout-box__mobile img {
  width: 50%;
}
.layout-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.layout-socials img {
  width: 45px;
}
/*          footer-bottom       */
.footer__bottom {
  height: 210px;
}
.footer-bottom__container {
  flex-direction: column-reverse;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.footer-bottom__container p {
  flex: 1;
  text-align: center;
  max-width: 200px;
}
.footer-bottom__links {
  flex: 1;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}
