* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  background-color: inherit;
}
html {
  background-color: #F4F4F4;
  font-family: "Open Sans", sans-serif;
}
:root {
  --accent-color: #273895;
  --tarifs-accent: #2741D0;
  --gradient-color: linear-gradient(to right, #784DFF, #4614E8);
  --title-color: #303030;
  --main-color: #404040;
  --user-agreement: #7A7A7A;
}
.container {
  margin: 0 auto;
  padding: 10px;
}
/*------------HEADER-------------*/
/*----------header-top-----------*/
.btn {
  color: #fff;
  background-color: var(--accent-color);
  line-height: 18px;
  border: none;
  border-radius: 15px;
  height: 56px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
.btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
/*----------header-main-----------*/
.header__main-content {
  z-index: 1;
  background-color: transparent;
}
.main--paragraph {
  font-weight: 400;
  color: var(--title-color);
}
.header__title {
  font-weight: 700;
  color: #262626;
}
.btn__tryForFree {
  font-weight: 700;
  padding: 16px 32px;
}
.advantages {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
}
.card-text {
  margin-top: 8px;
  background-color: transparent;
  font-weight: 500;
  line-height: 26px;
  color: var(--title-color);
  max-width: 270px;
}
/*------------MAIN------------*/
/*---------team------------*/
.team {
  background-image: url(../img/background__img/block_support/Group\ 322.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.team__content {
  display: flex;
  background-color: transparent;
}
.subtitle {
  font-weight: 700;
  color: var(--title-color);
}
.accent--paragraph {
  color: var(--accent-color);
  font-weight: 700;
}
.spanSirius {
  font-family: "Barlow";
  font-weight: 900;
}
/*---------support------------*/
.support {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support__title {
  margin: 0 0 31px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  background-color: #fff;
  border-radius: 10px;
  padding: 32px;
}
.support__card {
  align-items: center;
  color: var(--title-color);
}
.support__card-img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  margin-bottom: 16px;
}
.support__card-subtitle {
  margin-bottom: 16px;
}
.support__card-text {
  color: var(--main-color);
  font-weight: 400;
}
/*---------benefits------------*/
.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits-item {
  font-weight: 400;
  color: var(--main-color);
}
.benefits-item h3 {
  font-family: "Barlow";
  font-weight: 700;
  color: var(--tarifs-accent);
  letter-spacing: 2.72px;
  text-transform: uppercase;
}
.content__item--before::before {
  content: url(../icons/block_adv_triangle_bullet.svg);
  margin-right: 13px;
}
.benefits-phone {
  position: relative;
  z-index: 0;
}
.helper-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 80px;
  background-color: #fff;
  width: 187px;
  height: 90px;
  border-radius: 10px;
  padding: 20px;
}
.benefits__btn {
  margin-top: 10px;
}
.benefits__cards {
  display: flex;
  z-index: 1;
  background: transparent;
}
.benefits__card {
  align-items: flex-start;
}
/*---------tariffs------------*/
.tariffs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title__free {
  font-size: 32px;
  font-weight: 500;
  color: #C9C9C9;
  line-height: 44px;
}
.tariffs__subtitle {
  font-size: 0.875rem;
  margin: 16px 0 32px;
}
.tariffs__switch {
  display: flex;
  width: 330px;
  gap: 64px;
  margin-bottom: 32px;
}
.btn__tariff {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  background-color: transparent;
  color: var(--accent-color);
  border-bottom: 1px dashed #2741CF;
  border-radius: 0;
  display: inline-block;
  width: 133px;
  height: 56px;
  text-align: center;
  cursor: pointer;
}
.btn__tariff:hover {
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 15px;
  width: 133px;
}
.tariff__card-free,
.tariff-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
}
.tariff-card__title {
  text-transform: uppercase;
  color: var(--tarifs-accent);
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2.4px;
}
.tariff-card__description {
  font-size: 0.875rem;
  font-weight: 400;
  color: #737373;
}
.tariff-card__price {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: var(--main-color);
}
.tariff-card__note {
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-color);
  margin: 16px;
}
.tariff-card__features {
  color: var(--main-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 36px;
  width: 100%;
}
.tariff-card__features li::before,
.tariff-card__features-free li::before {
  content: url(../icons/block_adv_triangle_bullet.svg);
  margin-right: 8px;
}
.tariff-card__link {
  margin: 16px 0;
  text-decoration: none;
  color: var(--tarifs-accent);
  font-weight: 700;
}
.tariff-card__link::after {
  content: url(../icons/arrow_right.svg);
  margin-left: 16px;
}
.btn__request {
  width: 220px;
  font-weight: 700;
  line-height: 18px;
}
/*---------main-join-us------------*/
.join-us {
  background-image: url(../img/background__img/partnership__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--accent-color);
  z-index: 0;
}
.join-us__content {
  position: relative;
  background-color: transparent;
  color: #fff;
  padding: 0 10px;
}
.join-us__content h2 {
  color: inherit;
}
/*---------main-partnership-----------*/
.partnership {
  display: flex;
  flex-direction: column;
}
.partnership-card {
  display: flex;
}
.partnership-card__text h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
}
.partnership-card__text p {
  font-size: 0.875rem;
  line-height: 25px;
}
.partnership-card__text li {
  position: relative;
  font-size: 0.875rem;
  line-height: 25px;
}
.partnership-card__text li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--title-color);
  font-size: 20px;
}
.partnership-card__text span {
  font-weight: 700;
}
.pale__text {
  color: #B7B6B6;
}
.partnership__btn {
  width: 250px;
  align-self: center;
  margin-top: 31px;
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
}
/*---------main-steps-----------*/
.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps-content {
  display: flex;
}
.steps-content img {
  margin-bottom: 32px;
}
.col-st {
  display: flex;
  flex-direction: column;
}
.col__nd {
  display: flex;
  flex-direction: column;
}
.steps-to-start__num {
  text-align: center;
  width: 30px;
  border: 2px solid #404040;
  border-radius: 50%;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 30px;
  color: var(--main-color);
}
.steps-to-start__text {
  margin-top: 16px;
  line-height: 25px;
  font-size: 0.875rem;
  color: var(--main-color);
}
.steps-to-start__img-third {
  align-self: center;
  max-width: 231px;
  margin-top: 73px;
}
.steps-to-start__img-fourth {
  max-width: 55px;
  margin-top: 40px;
}
.steps-to-start__btn {
  margin-top: 16px;
  width: 232px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
/*---------main-growth-trends-----------*/
.growth {
  display: flex;
  background-color: var(--accent-color);
  color: #fff;
}
.growth h2 {
  font-size: 32px;
  color: inherit;
}
.growth-item h2 {
  background: linear-gradient(90deg, #4614E8, #BCA7FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.growth-item p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}
/*---------CEO-----------*/
.ceo {
  display: flex;
}
.ceo-img__box {
  position: relative;
}
.ceo__card {
  position: absolute;
  max-width: 360px;
  box-sizing: border-box;
}
.ceo__card p {
  font-weight: 700;
  font-size: 32px;
  line-height: 15.9px;
  color: var(--title-color);
}
.ceo__card .ceo__quote {
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}
.ceo-bio__box {
  color: var(--main-color);
  line-height: 20px;
  font-size: 0.875rem;
}
.ceo-bio__box ol {
  margin-bottom: 16px;
}
.ceo-bio__box li {
  position: relative;
  padding-left: 20px;
  font-size: 0.875rem;
  line-height: 25px;
}
.ceo-bio__box li::before {
  content: '•';
  position: absolute;
  left: 5px;
  color: var(--title-color);
  font-size: 20px;
}
.position {
  margin-bottom: 30px;
}
.position__info {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 20px;
  color: var(--main-color);
  margin: 16px 0 32px;
}
.registration__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  width: 251px;
  margin-top: 32px;
}
/*------------footer-bottom-----------*/
.footer-bottom {
  display: flex;
  background-color: #E8EDF3;
  margin-top: 32px;
}
.footer-bottom__container {
  display: flex;
  color: #7A7A7A;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}
.footer-bottom__container a {
  color: inherit;
}
.footer-bottom__links {
  display: flex;
  font-size: 10px;
  color: inherit;
}
